stty stop undef

export LANG="en_US.UTF-8"
export LESSHISTFILE=-
export LSCOLORS=exfxcxdxbxegedabagacad
export PATH="$HOME/.local/bin:$PATH"

typeset -U path PATH

setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_REDUCE_BLANKS

autoload -Uz compinit && compinit
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

# abbr

alias h="history"

alias ls="ls --color=auto"
alias l="ls -1"
alias la="ls -A"
alias ll="ls -hl"

alias g="git"
alias ga="git add"
alias gau="git add --update"
alias gc="git commit"
alias gd="git diff"
alias gds="git diff --staged"
alias gl="git log"
alias glo="git log --oneline"
alias glg="git log --oneline --all --graph"
alias gs="git status"
alias gw="git switch"

fpath+=($HOME/.zsh/pure)
autoload -U promptinit && promptinit
prompt pure

# zsh autosugge

# zsh highlight
